fieldset {
	display:flex;
	flex-direction: column;
	border: none;
	align-content: left;
	width: fit-content;
}

body {
	background-image: url("./dj_images/DJW.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	display: flex;
	justify-content: space-evenly;
}


.contentContainer__left{
	flex: 2;
	flex-direction: column;
}

.contentContainer__right{
	text-align: right;
	flex: 1;	
	flex-direction: column;
}

/* .contentContainer__center{
	text-align: center;
	align-self: center;
} */

.btn {
	width: fit-content;
	margin: 10px;
	background-color: #000000;
	margin-left: 13px;
	flex-direction: column;
}