fieldset {
	display:flex;
	flex-direction: column;
	border: none;
	align-content: left;
	width: fit-content;	
}

form{
	color: white;
}

nav {
	background-image: url("./dj_images/DJW.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	display: flex;
	justify-content: space-evenly;
}


.contentContainer__left{
	flex: 2;
	flex-direction: column;
}

.contentContainer__right{
	text-align: right;
	flex: 1;	
	flex-direction: column;
}

/* .contentContainer__center{
	text-align: center;
	align-self: center;
} */

.btn {
	width: fit-content;
	margin: 10px;
	background-color: #ffffff;
	margin-left: 13px;
	flex-direction: column;
	font-family: "Lusitana", Arial, sans-serif;
}
